.map {
  width: 100%;
  height: 100%;

  path {

    stroke: #ddd !important;
    stroke-width: 1 !important;

    transition: all 150ms ease;

    &:hover {
      fill: red !important;
    }
  }
 

}



%margin-zero {
  margin-top: 00 !important;
  margin-left: 0 !important;
}



.label {
  pointer-events: none;
  text-align: center;
  font-weight: bold;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;

  transition: all 150ms ease;


  &-heilongjiang {
    top: 50px;
  }
  &-innermongolia {
    top: 60px;
    left: 10px;
    @extend %margin-zero;
  }
  &-gansu {
    top: 65px;
    left: 30px;
    @extend %margin-zero;
    
  }
  &-shanghai {
    @extend %margin-zero;
    top: 0;
    top: -10px;
    left: -30px;
  }
  &-shaanxi {
    top: 50px;
  }
  &-chongqing {
    top: 25px;
    left: -10px;
  }
  &-hebei {
    @extend %margin-zero;
    top: 20px;
    left: -100px;
  }
  &-tianjin {
    top: 20px;
  }
  &-hainan {
    @extend %margin-zero;
    top: -40px;
    left: -120px;
  }

}


.lit-label {
  opacity: 0;
  visibility: hidden;
}

.label__text {
  transition: all 250ms ease;
}
.label__text--active {
  transform: scale(1.2);
}


